<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Mikes" %></title>

    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application" %>
  </head>
  
  <body class="<%= page_classes %>">
	
	<nav class="big">
		<ul>
			<li>Work
			<li class="home">Home
			<li>Posts
		</ul>
	</nav>
	
    <%= yield %>

    <%= javascript_include_tag  "libs", "application" %>
  </body>
</html>